@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400italic,700,400,700italic);
@font-face {
    font-family: "Young Serif";
    src: url(https://github.com/bsozoo/YoungSerif/raw/master/YoungSerif-Regular.otf);
}
:root {
    --color: blue;
    --serif: Domine;
    --sans: Quattrocento Sans;
    --mono: Monospace;
    --font-lettrine: Young Serif;
    --font-size: 17px;
    --font-size-small: 12px;
    --line-height: 21px;
}

/* BLOCKS -------------------------------------  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "dlig", "clig", "kern";
    -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
    -moz-font-feature-settings: "liga", "dlig", "clig", "kern";
    -o-font-feature-settings: "liga", "dlig", "clig", "kern";
}
body {
    background-size: 100%;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    color: blue;
    font-family: var(--serif);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: var(--line-height) / 2;
}
/* Insertion du pad dans la page */
iframe {
    outline: 1px solid #333;
}
iframe#ether {
    height: 700px !important;
    max-width: 50em;
    margin: auto;
}
/* Style des niveaux de titre */
h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size); 
    font-weight: bold;
    font-family: var(--serif);
    margin: 0;
    margin-top: calc(2 * var(--line-height));
    margin-bottom: var(--line-height);
    padding-top: var(--line-height);
    clear: both;
}
h1 {
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: var(--line-height) 0;
    text-align: center;
    font-family: var(--font-lettrine);
    font-weight: normal;
}
#content h1 {
    font-size: calc(var(--font-size) * 3.5);
    line-height: 1em;
    margin: 5em 0;
}
h2 {
    font-size: calc(var(--font-size) * 1.5);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-lettrine);
    font-weight: normal;
}
h3 {
    text-transform: uppercase;
    margin: var(--line-height) 0;
    font-family: var(--font-lettrine);
    font-weight: normal;
}
h4 {
    text-decoration: underline;
}
img {
    max-width: 200px;
    float: left;
    margin: var(--line-height) / 2;
    display: block;
}
img.inline {
    display: inline; 
    vertical-align: top; 
    margin: 0;
    height: 1em;
}
img.large {
    width: 90%;
    max-width: none;
    margin: auto;
}
.thumbnail {
    max-width: 30%;
}
blockquote {
    font-family: var(--sans);
    font-size: var(--font-size);
    margin: var(--line-height) calc(2 * var(--line-height));
}
p {
    margin-bottom: 0;
    clear: both;
}
p + p {
    text-indent: calc(2 * var(--line-height));
}
hr {
    border: 0;
    height: var(--line-height);
    margin: 0;
}
hr + hr {
    display: block;
    border-bottom: 1px solid black;
}
code, pre {
    font-family: var(--mono);
    white-space: pre-wrap;
}
pre {
    outline: 1px solid var(--color);
    padding: var(--line-height);
    width: 75%;
}
/* Style des légendes d'images */
figcaption {
    font-family:  var(--sans);
    font-size: var(--font-size-small);
    line-height: 1.3em;
    text-align: center;
    margin-bottom: var(--line-height);
}
/* Style des frames de vidéo ou autres objets hors image */
figure iframe {
    max-width: 70%;
    margin: var(--line-height) auto;
    display: block;
}
audio,
video {
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: calc(var(--line-height) * 2);
}
/* Style des notes de bas de pages */
.footnote {
    font-size: var(--font-size-small);
    line-height: 1.3em;
    margin-bottom: calc(2 * var(--line-height));
}
.footnote p {
    margin-bottom: 0;
}
/* INLINES ------------------------------------- */
/* Style des liens hypertextes */
a,
a:visited {
    text-decoration: none;
    color: var(--color);
}
/* Style du texte en roll-over sur les liens */
a:hover {
    text-decoration: none;
    color: black;
}
/* Style quand on arrive à une ancre */
.target {
    background-color: var(--color);
}
/* Style de l'italique */
em {
    font-style: italic;
}
/* Style du bold */
strong {
    font-weight: bold;
}
/* Style des exposants */
sup {
    font-size: 0.65em;
    line-height: 0;
    vertical-align: 0.5em;
}
sup a {
    font-family:  var(--sans);
}
/* Style du texte souligné */
u {
    text-decoration: none;
    border-bottom: 2px solid yellow;
}
dt {
    font-style: italic;
    display: inline;
    font-family: var(--sans);
}
dt:after {
    content: ": ";
}
dd {
    display: inline;
    margin:0;
}
dd:after {
    content:'\0A';
    white-space:pre;
} 
dd + dd {
    margin-left: calc(var(--line-height) * 2);
}
.metadata dt, 
.metadata dd {
    float: left;
}
.metadata dt {
    clear: both;
    margin-right: 4px;
}
.metadata dd + dd {
    margin-left: 0;
}
.metadata dd:after {
    content: ", ";
}
.metadata dd:last-child:after {
    content: "";
}
.metadata dt.meta-participants {
    display: none;
}
.comment:before {     
    background-color: yellow !important;
    border-radius: 1em;
    display: inline;
    height: 1em;
    margin: 0 0.5em;
    padding-left: 7px;
    padding-right: 9px;
    text-align: center;
    width: 1em;
    content: "!";
    font-family:  var(--sans);
} 
/* FORMS -------------------------- */
form {
    margin-bottom: none;
}
form label, form textarea {
    font-family: inherit;
    font-size: inherit;
}
form input, form textarea {
    background: none;
    border-style: solid;
    border-color: black;
    font-family: sans-serif;
    font-size: inherit;
}
/* Style de l'élément activé */
form input:focus, form textarea:focus {
    background-color: white;
}
form input[type=text], form input[type=password] {
    height: 25px;
    position: relative;
    top: -1px;
    width: 200px;
}
form input[type=submit] {
    cursor: pointer;
    padding: 0;
    height: 26px;
    border-style: none;
    border-color: none;
    text-decoration: none;
    color: var(--color);
}
form input[type=submit]:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}
/* GENERIC CLASSES -------------------------------- */
/* Style des boutons */
.button {
    text-decoration: none;
    margin: 0 var(--line-height) / 2;
}
/* Style des boutons en roll over */
.button:hover {
    background-color: none;
    outline: none;
}
/* Classe pour transformer des éléments blocs en éléments en ligne */
.inline {
    display: inline;
}
/* PAGE STRUCTURE --------------------------------- */
/* Style des containers */
.wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}
.wrap:first-child {
    margin: var(--line-height) 0;
}
.wrap:before, .wrap:after {
    content: " ";
    /* 1 */
     display: table;
    /* 2 */ 
}
.wrap:after {
    clear: both;
}
/* Style des sous-parties de containers */
.left-side, .middle, .right-side {
    float: left;
    position: relative;
}
.left-side,
.right-side  {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1; 
    flex: 1;
    margin-top: calc(2 * var(--line-height));
}
.middle {
    width: 50em;
    padding: var(--line-height) calc(2 * var(--line-height));
}
.write-mode .middle {
    width: 70%;
}
/* Pour les inclusions de pads dans les compilations */
#content .middle {
    width: 100%;
}
/* NAV ------------------------------------------ */
/* Navigation */
nav {
    font-family: var(--sans);
    line-height: var(--line-height);
    font-size: var(--font-size-small);
    position: fixed;
    top: 0;
    background-color: white;
    padding: var(--line-height) / 4;
    z-index: 1000;
}
nav#nav-left {
    left: 0;
    width: 100%;
}
nav#nav-right {
    right: 0;
    text-align: right;
}
nav div#staff-menu {
    display: inline;
    color: darkgray;
}
nav h1 {
    display: inline;
}
nav span:before {
    content: " — ";
}
nav div#sort-by {
    display: inline;
    color: darkgray;
}

/* Texte précédent/suivant */
div#previous a,
div#next a {
    position: fixed;
    top: 6.5em; 
    font-family:  sans-serif;
    font-size: var(--font-size-small);
    line-height: 1.2em;
    padding: var(--line-height);
    z-index: 6666;
}
div#previous a span,
div#next a span {
    display: none;
}
div#previous a:hover span,
div#next a:hover span {
    display: block;
}
div#next {
    text-align: right;
    padding-right: 0;
}
div#next a {
    right: 0;
}
/* MAIN CONTENT ---------------------------------- */
header {
    margin-top: var(--line-height);
    font-size:  calc(2.5 * var(--font-size));
    line-height: 1.2em;
    text-align: center;
}
header p, header h2 {
    font-family: inherit;
    margin-bottom: 0;
    line-height: inherit;
    text-align: center;
    display: inline;
}
header h2 {
    font-size: inherit;
    font-family: var(--font-lettrine);
    text-transform: none;
}
header p.authors:after {
    content: ", ";
}
#content ul li:before {
    content: "– ";
    margin-left:calc( 2 * var(--line-height));
}
ol {
    list-style-type: decimal;
    margin-left: calc(2 * var(--line-height));
}
.footnote ol li {
    margin-bottom: 0em;
}
dl.meta {
    font-family: var(--sans);
    color: lightgray;
    font-size: var(--font-size-small);
    line-height: 1.25em;
}
div.metadata {
    font-family: var(--sans);
    font-size: var(--font-size-small);
    line-height: 1.25em;
    position: absolute;
    top: 0px;
    left: -15em;
    width: 15em;
}
div#go-up {
    clear: both;
    margin-top: calc(2 * var(--line-height));
}
div#go-up a {
    border-bottom: none;
}
div#go-up a:hover {
    color: var(--color);
}
/* AUTHORSHIP ----------------------------- */ 
.authors {
    display: inline;
}
/* Hides Etherpad background colours */ 
#content span {
    background-color: inherit !important;
}
/* ------ PRINT/SCREEN ------ */
@media screen {
    .print-only {
        display: none;
    }
}
/* User Interface */
.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;
    background: rgba(0,0,0,0.6667);
    text-align: center;
}
.popup-wrapper.hidden {
    display: none;
}
.popup-wrapper:before {
    position: relative;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.popup {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    padding: 30px;
}
