{% extends "base.html" %}
{% load wikify ethertoff_tags %}

{% block head_meta %}
    <meta property="og:type" content="article"/>
{% if meta %}

    {% if meta.authors %}
        {% for author in meta.authors %}
            <meta property="dc:creator" content="{{ author }}" />
        {% endfor %}
    {% endif %}
    {% if meta.language %}{% for language in meta.language %}<meta property="dc:language" content="{{ language|lower }}" />{% endfor %}{% endif %}

    <meta property="dc:identifier" content="{{ meta.id.0 }}" />
    {% if meta.type %}<meta property="dc:type" content="{{ meta.type.0 }}" />{% endif %}
{% endif %}
{% endblock %}


{% block data_article %}{{ meta.authors|natural_join:'&'|markdown_filter|no_p }}, {{ meta.title.0 }}{% endblock %}

{% block bodyclasses%}{% if meta.host %}{{ meta.host.0|lower }}{% endif %} {% if meta.type %}{{ meta.type.0|lower }}{% endif %}{% endblock %}
{% block contentclasses%}{% if meta.host %}{{ meta.host.0|lower }}{% endif %} {% if meta.type %}{{ meta.type.0|lower }}{% endif %}{% endblock %}

{% block title_left %}
    {% if prev_page %}<div id="previous">
        <a href="{{ prev_page.href }}" title="{{ prev_page.authors|natural_join:'&' }}, {{ prev_page.title }}">&larr;<br/>
        <span>{{ prev_page.authors|natural_join:'&' }}<br/>
        {{ prev_page.title|safe }}</span></a>
    </div>{% endif %}
{% endblock %}


{% block title %}
        <header class="{% if meta.type %}{{ meta.type.0|lower }}{% endif %}">
        {% if meta.authors %}
            <p class="authors">{{ meta.authors|natural_join:'&' }}</p>
        {% endif %}
        <h2 property="dc:title" content="{{ meta.title.0|default:pad.display_slug|markdown_filter|no_p }}">
            {{ meta.title.0|default:pad.display_slug|markdown_filter|no_p }}
        </h2>
        </header>
{% endblock %}


{% block title_right %}
    {% if next_page %}<div id="next">
        <a href="{{ next_page.href }}" title="{{ next_page.authors|natural_join:'&' }}, {{ next_page.title }}">&rarr;<br/>
        <span>{{ next_page.authors|natural_join:'&' }}<br/>
        {{ next_page.title|safe }}</span></a>
    </div>{% endif %}
{% endblock %}


{% block content %}
    {% include "partials/metadata.html" %}

    {{ text|safe }}
    
    
    <div id="go-up">
        <a class="screen-only" href="#">&uarr;</a>
    </div>
{% endblock %}


{% block rightside %}
    {% if author and meta %}
        <dl class="meta private">
        {% for key, values in meta_list reversed %}
            <dt>{{ key|title }}</dt>
            {% for value in values %}<dd>{{ value|markdown_filter }}</dd>{% endfor %}
        {% endfor %}
            <dt>Editors</dt>
            <dd>
                <p>{{ authors|natural_join:'et' }}</p>
            </dd>
        </dl>
    {% endif %}
{% endblock %}

{% block extraui %}
    {% if not user.is_authenticated %}
        <div class="popup-wrapper hidden">
            <div class="popup">
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="id_username">Username</label>
                <input id="id_username" maxlength="254" name="username" type="text" />
                <label for="id_password">Password</label>
                <input id="id_password" name="password" type="password" />
            
                <input class="submit" type="submit" value="Login" />
                <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
              </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

