{% extends "base.html" %}
{% load i18n %}

{% block extra_styles %}
        <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
{% endblock %}

{% block title %}
      <h1>Create a new pad</h1>
{% endblock %}

{% block content %}
  <form action="{% url 'pad-create' %}" method="post">
        {% csrf_token %}
        <label>Pad name:</label>
        {{ form.name }}
        {{ form.group }}
        <br />
        <label></label>
        <input class="submit" type="submit" value="{%trans "Create" %}" />
  </form>
  <legend></legend>
{% endblock %}
