{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <h1>{% trans "Logout" %}</h1>
{% endblock %}

{% block content %}
        <p>You're logged out.</p>
        <p><a href="/">Go back to homepage.</a>
{% endblock %}
