{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <h1>{% trans "Login" %}</h1>
{% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
      {% if form.errors %}
        <p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
      {% endif %}
    
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="form-row">
            <label></label>
            <input class="submit" type="submit" value="{% trans "Login" %}" />
        </div>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
      </form>
    {% else %}
        <p>You're logged in,―welcome!</p>
    {% endif %}
{% endblock %}
