{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <h1>{% trans "Your password has been successfully changed" %}</h1>
{% endblock %}

{% block content %}
<a href="/">Go back to homepage</a>
{% endblock %}
